:root{
  --appBarHeight: 64px;
  --drawerWidth: 256px
}

.appBar {
  height: var(--appBarHeight);
}

.drawer {
  height: calc(100% - var(--appBarHeight)) !important;
  top: var(--appBarHeight) !important;
  width: var(--drawerWidth) !!important;
}

.drawerMenuItems {
  margin-top: 25px;
}

.pageContent {
  left: var(--drawerWidth);
  position: fixed;
  width: calc(100% - var(--drawerWidth));
}
