:root {
  --filterHeight: 42px;
}

.table {
  height: calc( 100% - var(--filterHeight)) !important;
}

.filter {
  margin-left: 30px;
  height: var(--filterHeight) !important;
}
.filter input {
  color: black !important;
}

.filter div {
  color: grey !important;
}
